<h1>Careers</h1>

<div class="admin-panel">
    <h2>In TeraNet Ltd you can work as:</h2>
    <ul class="list-unstyled">
        <li>Desk worker</li>
        <li>Network worker</li>
        <li>Client support</li>
    </ul>

    <p>If you have interest about working in our team. You can contact us at hr@teranet.com</p>
</div>