@model TeraNetSystem.Web.Areas.Administration.Models.AdminOfficeViewModel

@{
    ViewBag.Title = "Delete office";
}

<p class="text-danger">NOTE: Deleting a Office will cascade delete all payments made there!</p>

<div class="row">
    @Html.Partial("_OfficePartial")
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color row">
        <button class="button button-rounded button-flat-caution" type="submit">
            <i class=" fa fa-warning no-margin no-padding">
                Delete
            </i>
        </button>
        <a class="button button-rounded button-flat-primary" href="@Url.Action("ListOffices", "Office")">
            Cancel
        </a>
    </div>
}


