@model IEnumerable<TeraNetSystem.Web.Models.NewsViewModel>
@{
    ViewBag.TItle = "List news";
}

<h2>@ViewBag.Title</h2>
<br />
@foreach (var office in @Model)
{
    Html.RenderPartial("_NewsPartial", office);
}
<a href="@Url.Action("Create", "News")" class="button button-block button-rounded button-primary button-large">Add office</a>


