@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="dropdown animated fadeInDown">
            @Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </div>
        <div class="dropdown animated fadeInDown">
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </div>
    }
}
else
{
    <div class="dropdown animated fadeInDown">
        @*<i class="fa fa-user"></i>*@
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        @* TODO: Replace with a gref=URL.ACTIONLINK this way can insert icon *@
    </div>
}
